# Virtual environments
venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Streamlit cache
.streamlit/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Large datasets (optional)
data/*.csv